In [ ]:
import pandas as pd
import re

def get_vcf(vcf_path):
    with open(vcf_path, "rt") as ifile:
          for line in ifile:
            if line.startswith("#CHROM"):
                  vcf_names = [x for x in line.split('\t')]
                  break
    ifile.close()
    return vcf_names


def vcf_edit(vcf_name):
  names = get_vcf(vcf_name)
  vcfDF = pd.read_csv(vcf_name, comment='#', delim_whitespace=True,header=None, names=names)
  vcfRest=vcfDF.loc[:,["#CHROM","POS","ID","REF","ALT"]]
  info = vcfDF['INFO\n'].str.split(';', expand=True)

  for row in info.itertuples():
    if 'ANN=' in row:
      ann = info[11]
    else: 
      print('ww')
      ann = info[12]
    

    copyOfann = ann.copy()
    for i in ann:
      if i.startswith('ANN'):
        ann_ext = ann.str.replace(',','\n',regex=True)
        ann_ext = ann_ext.str.split("|", expand=True)
        ann_ext = ann_ext.iloc[:,[0,3,4,6,9,10]]
        ann_ext.columns=["Nucleotide","Gene","GeneID","TranscriptID","Change","Aminoacid"]
        result = ann_ext["Aminoacid"].str.split('([A-Za-z]+)(\d+)([A-Za-z]+)', expand=True)
        result = result.loc[:,[1,3,2]]
        result.columns=["ReferenceAA","AlternativeAA","Codon"]
        Frames = [vcfRest, ann_ext, result]
        mergeDf = pd.concat([vcfRest, ann_ext, result], axis=1)
        mergeDf.head()
      
        return mergeDf

In [ ]:
data = vcf_edit('/content/orj500_new4.vcf')
data

ww

,#CHROM,POS,ID,REF,ALT,Nucleotide,Gene,GeneID,TranscriptID,Change,Aminoacid,ReferenceAA,AlternativeAA,Codon
0,1,925952,1019397,G,A,ANN=A,SAMD11,ENSG00000187634,ENST00000618323.5,c.548G>A,p.Gly183Glu,Gly,Glu,183
1,1,925956,1543320,C,T,None,None,None,None,None,None,None,None,None
2,1,925969,1648427,C,T,None,None,None,None,None,None,None,None,None
3,1,925976,1362713,T,C,None,None,None,None,None,None,None,None,None
4,1,925986,1568423,C,T,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1,943804,955433,C,T,ORIGIN=1,None,None,None,None,None,None,None,None
463,1,943805,1611881,C,G,None,None,None,None,None,None,None,None,None
464,1,943813,1476856,G,A,None,None,None,None,None,None,None,None,None
465,1,943815,1160452,C,T,None,None,None,None,None,None,None,None,None
466,1,943823,1553569,A,C,None,None,None,None,None,None,None,None,None

In [ ]:
import csv
 
lines =[]
with open("orj500_new4.vcf") as file:
    tsv_file = csv.reader(file, delimiter="\t")
    for line in tsv_file:
      if line[0][0] != '#':
        lines.append(line)

In [ ]:
updated_lines=[]
for line in lines: 
  indv_line=[]
  indv_line.append(line[0])
  indv_line.append(line[1])
  indv_line.append(line[2])
  indv_line.append(line[3])
  indv_line.append(line[4])
  seperated = line[7].split(';')
  for element in seperated: 
    if element.find('ANN') != -1: 
      annotation= element
  annotation_sep = annotation.split('|')
  indv_line.append(annotation_sep[1])
  indv_line.append(annotation_sep[2])
  indv_line.append(annotation_sep[3])
  indv_line.append(annotation_sep[4])
  indv_line.append(annotation_sep[6])
  indv_line.append(annotation_sep[7])
  indv_line.append(annotation_sep[9])
  indv_line.append(annotation_sep[10])
  updated_lines.append(indv_line)

In [ ]:
df = pd.DataFrame(updated_lines)

In [ ]:
df.columns=["CHROM","POS","ID","REF","ALT","Variant_type","QUAL","GENE", "GeneID","TranscriptID", "CODING","Change","Aminoacid"]
df

,CHROM,POS,ID,REF,ALT,Variant_type,QUAL,GENE,GeneID,TranscriptID,CODING,Change,Aminoacid
0,1,925952,1019397,G,A,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000618323.5,protein_coding,c.548G>A,p.Gly183Glu
1,1,925956,1543320,C,T,synonymous_variant,LOW,SAMD11,ENSG00000187634,ENST00000618323.5,protein_coding,c.552C>T,p.Ile184Ile
2,1,925969,1648427,C,T,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000618323.5,protein_coding,c.565C>T,p.Pro189Ser
3,1,925976,1362713,T,C,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000618323.5,protein_coding,c.572T>C,p.Ile191Thr
4,1,925986,1568423,C,T,synonymous_variant,LOW,SAMD11,ENSG00000187634,ENST00000618323.5,protein_coding,c.582C>T,p.Cys194Cys
...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1,943804,955433,C,T,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000455979.1,protein_coding,c.1274C>T,p.Ala425Val
463,1,943805,1611881,C,G,synonymous_variant,LOW,SAMD11,ENSG00000187634,ENST00000455979.1,protein_coding,c.1275C>G,p.Ala425Ala
464,1,943813,1476856,G,A,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000455979.1,protein_coding,c.1283G>A,p.Arg428Lys
465,1,943815,1160452,C,T,missense_variant,MODERATE,SAMD11,ENSG00000187634,ENST00000455979.1,protein_coding,c.1285C>T,p.Arg429Cys
466,1,943823,1553569,A,C,synonymous_variant,LOW,SAMD11,ENSG00000187634,ENST00000455979.1,protein_coding,c.1293A>C,p.Gly431Gly

In [ ]:
!pip install pyranges

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyranges
  Downloading pyranges-0.0.120.tar.gz (687 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 687.9/687.9 KB 35.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cython in /usr/local/lib/python3.9/dist-packages (from pyranges) (0.29.33)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pyranges) (1.3.5)
Collecting ncls>=0.0.63
  Downloading ncls-0.0.66.tar.gz (494 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 494.7/494.7 KB 44.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: tabulate in /usr/local/lib/python3.9/dist-packages (from pyranges) (0.8.10)
Collecting sorted_nearest>=0.0.33
  Downloading sorted_nearest-0.0.38.tar.gz (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 30.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pyrle
  Downloading pyrle-0.0.35.tar.gz (425 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 425.3/425.3 KB 39.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: natsort in /usr/local/lib/python3.9/dist-packages (from pyranges) (5.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from ncls>=0.0.63->pyranges) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas->pyranges) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas->pyranges) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas->pyranges) (1.15.0)
Building wheels for collected packages: pyranges, ncls, sorted_nearest, pyrle
  Building wheel for pyranges (setup.py) ... done
  Created wheel for pyranges: filename=pyranges-0.0.120-py3-none-any.whl size=697163 sha256=6b8093f4c63e2ce35e06a77d7fa03cbdae1515af291507970ec4e3eef9b601bb
  Stored in directory: /root/.cache/pip/wheels/6a/9a/6a/03a591e356aa16c6b447873e9d08dad1d66d7f579eaf99f1a3
  Building wheel for ncls (setup.py) ... done
  Created wheel for ncls: filename=ncls-0.0.66-cp39-cp39-linux_x86_64.whl size=2385459 sha256=05dc20c88125ef6c297e3b7c119d93b0571ce7d957b08ec289672ab2e973efff
  Stored in directory: /root/.cache/pip/wheels/da/12/ee/345b9dc8224851d613fd67e9183a5d2742078d27480467bca2
  Building wheel for sorted_nearest (pyproject.toml) ... done
  Created wheel for sorted_nearest: filename=sorted_nearest-0.0.38-cp39-cp39-linux_x86_64.whl size=5933220 sha256=b12d2d2bb6fff72e2a1a5968ad08126fe20ebeb62f9cbec39d54172fceccb38e
  Stored in directory: /root/.cache/pip/wheels/eb/cb/84/a96707e1b437c7dc463cb2535e98f91d078644b5106fbedd60
  Building wheel for pyrle (pyproject.toml) ... done
  Created wheel for pyrle: filename=pyrle-0.0.35-cp39-cp39-linux_x86_64.whl size=1715234 sha256=bf2c049c8f5dbaf9fdb73bab7496b25cc695f0b27ca4ee587ca58781986a4ee9
  Stored in directory: /root/.cache/pip/wheels/f0/38/2c/be598f7dfbb6f344ef1e53d4302f570c8e37d3a039358285fd
Successfully built pyranges ncls sorted_nearest pyrle
Installing collected packages: sorted_nearest, ncls, pyrle, pyranges
Successfully installed ncls-0.0.66 pyranges-0.0.120 pyrle-0.0.35 sorted_nearest-0.0.38

In [ ]:
import pyranges as pr
import pandas as pd
# as PyRanges-object
gr = pr.read_gtf("/content/Homo_sapiens.GRCh38.109.gtf", as_df = True)
s = (gr.Feature == "CDS") 

cds = gr[s]
cds2 = cds[["Chromosome", "Start", "End" , "gene_id" , "transcript_id" , "protein_id"]]

cds2

,Chromosome,Start,End,gene_id,transcript_id,protein_id
3,1,1471884,1472089,ENSG00000160072,ENST00000673477,ENSP00000500094
6,1,1477273,1477350,ENSG00000160072,ENST00000673477,ENSP00000500094
8,1,1478643,1478745,ENSG00000160072,ENST00000673477,ENSP00000500094
10,1,1479048,1479108,ENSG00000160072,ENST00000673477,ENSP00000500094
12,1,1480866,1480936,ENSG00000160072,ENST00000673477,ENSP00000500094
...,...,...,...,...,...,...
74443,1,147992501,147992567,ENSG00000188092,ENST00000314163,ENSP00000358233
74445,1,147992710,147992914,ENSG00000188092,ENST00000314163,ENSP00000358233
74451,1,147928536,147928578,ENSG00000188092,ENST00000468618,ENSP00000475253
74454,1,147938713,147938817,ENSG00000188092,ENST00000468618,ENSP00000475253
74456,1,147943437,147943544,ENSG00000188092,ENST00000468618,ENSP00000475253

In [ ]:

newDf = pd.DataFrame(columns=["Chromosome", "gene_id" , "transcript_id" , "protein_id"])

copyOfr1 = df.copy()

for i1, m in cds2.iterrows():
  for i2, w in df.iterrows():
    if (w['CHROM'] == m['Chromosome']) & (w['GeneID'] == m['gene_id']) & (w['TranscriptID'] == m['transcript_id']):
      valueDict = {'Chromosome': w['CHROM'], 'gene_id': w['GeneID'], 'transcript_id': w['TranscriptID'], 'protein_id': m['protein_id']}
      print(valueDict)
      newDf = newDf.append(valueDict, ignore_index=True)
      copyOfr1.drop(i2, inplace=True)
      break

newDf

Empty DataFrame
Columns: [Chromosome, gene_id, transcript_id, protein_id]
Index: []